{% extends "base.html" %}
    {% block content %}
    <div class="col-xs-12">
        <ol class="breadcrumb">
            <li><a href="/">首页</a> </li>
            <li class="active">{{b.name}}</li>
        </ol>
        <a href="/article/create/{{b.id}}" class="btn btn-primary">发表文章</a>
        <br/>
        <br/>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>标题</th>
                    <th>作者</th>
                    <th>创建时间</th>
                    <th>最后更新时间</th>
                </tr>
            </thead>
            <tbody>
                {% for article in articles %}
                <tr>
                    <td><a href="/article/detail/{{article.id}}">{{article.title}}</a></td>
                    <td>{{article.content}}</td>
                    <td>{{article.create_timestamp }}</td>
                    <td>{{article.last_update_timestamp}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <center>
        <nav aria-label="Page navigation">
          <ul class="pagination">
                <li>
                    {% if page.has_previous %}
                      <a href="?page_no={{page.previous_page_number}}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                    {% else %}
                        <span aria-hidden="true">&laquo;</span>
                    {% endif %}

                </li>
                  {% for x in paginator.page_range %}
                    {% if x == page.number %}
                        <li class="active"><a href="?page_no={{x}}">{{x}}</a></li>
                    {% else %}
                        <li ><a href="?page_no={{x}}">{{x}}</a></li>
                    {% endif %}
                  {% endfor %}
                <li>
                    {% if page.has_next %}
                      <a href="?page_no={{page.next_page_number}}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    {% else %}
                        <span aria-hidden="true">&raquo;</span>
                    {% endif %}
                </li>
          </ul>
        </nav>
            </center>
    </div>
    {% endblock %}