<!doctype html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>部落冲突论坛</title>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <h2>部落冲突论坛</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-2">日常专区</div>
                <div class="col-xs-12 col-md-8">战术交流</div>
                <div class="col-xs-12 col-md-2">论坛建设</div>
            </div>
        </div>
    </body>
</html>